body{
    background: rgb(226, 223, 223);
}
.mainbody{
    background: url("../images/bg.jpg");
    
      /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    margin-top: 10px;
    margin-bottom: 100px;
    color: white;
    background:#3a54a5;
}

h1, h4 {
    font-weight: 900;
}
a{
    /* color: white; */
    font-size: 20px;
}
#navbarp{
    background:#3a54a5; 
}
#match-img{
    width: 100%;
    max-width: 300px;
}
.view {
    height: 100%;
  }
